{% extends "layout.twig" %}

{% block head %}
    <title>Page non trouvée</title>
{% endblock head %}

{% block content %}
<div class="d-flex p-2">
    <div class="col-6">
        <h1>Oups!</h1>
        <p>La page que vous recherchez semble introuvable.</p>
        <p>Code d'erreur : 404</p>
        <div class="container">
            <p>Voici quelques liens utiles à la place:</p>
            <ul>
                <li><a class="nav-link" href="http://blogphp/">Accueil</a></li>
                <li><a class="nav-link" href="http://blogphp/posts.php">Articles</a></li>
            </ul>
        </div>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
        <img src="images/female-detective.svg" alt="detective" height="250px"/>
    </div>
</div>
<hr>
{% endblock %}