{% extends "layout.twig" %}

{% block head %}
    <title>Accueil - Bienvenue</title>
{% endblock head %}

{% block content %}
Page not found
The page you are looking for could not be found. Take a look at one of the pages below instead.

Home
Blog
{% endblock %}