{% extends "layout.twig" %}
{% block head %}
    <title>Me contacter</title>
{% endblock head %}

{% block content %}
    <h1>Me contacter</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate illo accusantium amet, molestias harum dolores! Quasi, a aut? Deleniti non error fugit sapiente iste asperiores eligendi alias cum quas pariatur.</p>
{% endblock content %}