{% extends "layout.twig" %}

{% block head %}
    <title>Accueil - Bienvenue</title>
{% endblock head %}

{% block content %}
<div>
    <div class="text-center">
        <img src="images/profilPicture.jpg" alt="Profil picture" height="100px">
    </div>

    <div>
        <h5>Qui suis-je?</h5>
        <p>Je m'appelle Benjamin Haise, j'ai 25 ans et je suis passionné par Internet, sa culture, les jeux vidéo et la peinture.</p>
    </div>

    <div>
        <h5>Pourquoi ce site?</h5>
        <p>Au cours de ma formation chez Openclassrooms, un des projet était de creer un blog. En partant de ce matériau et de l'envie de partager mes passions, mes projets et mes découvertes, ce blog et portfolio à vu le jour!</p>
    </div>

    <div>
        <h5>Me rejoindre</h5>
        <div class="d-flex justify-content-around">
            <a href="https://twitter.com/intent/tweet?screen_name=Raegald&ref_src=twsrc%5Etfw" class="btn-footer"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/HaiseB" class="btn-footer"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/benjamin-haise-624aab16b/" class="btn-footer"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>

    <div>
        <h5>Mes projets</h5>
        <p>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action">Projet OC n°5 : <a href="#">Blog Php</a></li>
                <li class="list-group-item list-group-item-action">Projet OC n°4 : <a href="#">Food Express</a></li>
                <li class="list-group-item list-group-item-action">Projet OC n°3 : <a href="#">Les Films de Plein Air</a></li>
                <li class="list-group-item list-group-item-action">Projet OC n°2 : <a href="#">Chalets et caviar</a></li>
                <li class="list-group-item list-group-item-action">Et bien d'autres sur <a href="https://github.com/HaiseB">Github</a></li>
            </ul>
        </p>
    </div>

    <div>
        <h5>Mon CV</h5>
        <p>Et pourquoi ne pas emporter un souvenir au format pdf? C'est par <a href="documents/CV_2019.pptx" download>ici</a> !
        </p>
    </div>

    <div>
        <h5>Mentions légales</h5>
        <p>Vous pouvez retrouver les mentions légales du site en cliquant sur ce <a href="#">lien</a>.</p>
    </div>
</div>

<hr>

<form method="post" action="" class="jumbotron text-center">
    <fieldset>
        <legend>Laissez moi un message!</legend>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" name="name"  required class="form-control" id="InputName1" placeholder="Nom Prénom et/ou votre Entreprise">
            </div>
            <div class="form-group col-md-6">
                <input type="email" name="email"  required class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="textarea"  required id="Textarea" rows="5" placeholder="N'oubliez pas votre commentaire (〜^∇^)〜"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
    </fieldset>
</form>

{% endblock %}