{% extends "layout.twig" %}

{% block head %}
    <title>Les news</title>
{% endblock head %}

{% block content %}
    <h1>Les dernières news</h1>
    <hr>
    {% for post in posts %}
        <li>{{ post.name }}</li>
    {% endfor %}
{% endblock %}