{% extends "layout.twig" %}

{% block head %}
    <title>Mot de passe oublié</title>
{% endblock head %}

{% block content %}
<div class="jumbotron text-center" >
    <form method="post" action="">
        <fieldset>
            <legend>Mot de passe oublié</legend>
            <span>Veuillez renseigner votre adresse mail, un lien de réinitialisation de mot de passe sera envoyé :)</span>
            <div class="col-md-8 offset-md-2">
                <div class="form-group">
                    <input type="email" name="email" required class="form-control" id="InputMail" placeholder="Adresse mail">
                </div>
                <button type="submit" class="btn btn-primary">Réinitialiser mon mot de passe</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}