color-sheme{
    /* hrx */
    color: #2450A6;
    color: #395873;
    color: #F2E9CE;
    color: #8C4E03;
    color: #F2935C;
    /* rgb */
    color: rgba(36, 79, 165, 1);
    color: rgba(57, 87, 114, 1);
    color: rgba(242, 233, 205, 1);
    color: rgba(140, 78, 2, 1);
    color: rgba(242, 147, 92, 1);
}

*,body{
    padding : 0;
    margin : 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav_admin_link::before{
    content: '.';
}

.nav_admin_link::after{
    content: '( )';
}

h5::before{
    content: "|";
    color: #F2935C;
    float: left;
    margin-right: 7px;
}

.add_button{
    display: block;
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    color: #ccc;
    font-size: 45px;
    background-color: #df691a;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #0000001a, 0 3px 5px -1px #0003;
    position: absolute;
    bottom: 60px;
    right: 30px;
    text-decoration: none;
    transition: transform 0.3s;
    position: fixed;
}

.add_button:hover{
    text-decoration: none;
    color: #ccc;
    transform: scale(1.2);
}

/*** Footer ***/
footer{
    background: #2C3E50;
    text-align: center;
    padding: 5% 15% 1% 15%;
}

.btn-footer{
    font-size : 3em;
}

.signature{
    color: #F2E9CE;
    opacity: 0.5;
}